body{
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
  }
 .first-line{
  font-size: 30px;
  font-weight: bold;
 }
 .img-css{
  height: 50px;
 }
 .button-css{
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border: 3px solid white;
  background-color: transparent;
  margin-right: 10px;
  cursor: pointer;
 }
 .result-css{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
 }
 .score-css{
  margin-top: 60px;
 }
 .reset-score{
  background-color: white;
  color: black;
  font-size: 15px;
  border: none;
  padding: 10px 10px 10px 10px ;
  cursor: pointer;
 }